/* Reset & Base */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Amazon Ember", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff;
  color: #0f1111;
}

a {
  color: #0066c0;
  text-decoration: none;
}

a:hover {
  color: #c45500;
  text-decoration: underline;
}